rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /episodes/{episode} {
    	allow read: if true;
    	allow create: if true;
    }
    match /users/{user} {
    	allow read: if false;
    	allow create: if true;
    }
    match /people/{person} {
      allow read: if true;
      allow create: if false;
      match /votes/{creatorid} {
      	allow read: if false;
      	allow create: if request.auth.uid != null;
    	}
    }
    match /tools/{tool} {
      allow read: if true;
      allow create: if false;
      match /votes/{creatorid} {
      	allow read: if false;
      	allow create: if request.auth.uid != null;
    	}
    }
  }
}